@model LibraryManagementSystem.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Role)
        @Html.DropDownListFor(model => model.Role,
            new SelectList(new[] { "Admin", "Member" }),
            "Select Role",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
    </div>

    <br />

    <input type="submit" value="Register" class="btn btn-success" />
}