@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Book Management</h2>

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <p>
        Search:
        <input type="text"
               name="search"
               value="@ViewBag.Search"
               placeholder="Title, author or genre"
               class="form-control"
               style="display:inline-block; width:250px;" />

        Status:
        <select name="status"
                class="form-control"
                style="display:inline-block; width:160px;">

            <option value="">All</option>

            <option value="Available"
                    @(ViewBag.Status == "Available" ? "selected" : "")>
                Available
            </option>

            <option value="Borrowed"
                    @(ViewBag.Status == "Borrowed" ? "selected" : "")>
                Borrowed
            </option>

            <option value="Reserved"
                    @(ViewBag.Status == "Reserved" ? "selected" : "")>
                Reserved
            </option>

        </select>

        <input type="submit"
               value="Search"
               class="btn btn-primary" />

        @Html.ActionLink("Clear", "Index", null,
            new { @class = "btn btn-secondary" })
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>

        <th>
            Availability Status
        </th>

        <th>
            Book Cover
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityStatus)
            </td>

            <td>
                @if (!string.IsNullOrEmpty(item.CoverImageUrl))
                {
                    <img src="@item.CoverImageUrl"
                         width="70"
                         height="90"
                         style="object-fit:cover; border-radius:6px;" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>